*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

:root {
  --clr-name-lime-green: #1db489;
  --clr-name-bright-red: #dc414c;
  --clr-name-facebook: #198ff5;
  --clr-name-twitter: #1ca0f2;
  --clr-name-instagram: linear-gradient(#fdc468, #df4996);
  --clr-name-youtube: #c4032a;
  --clr-name-dt-very-dark-blue-bg: #1e202a;
  --clr-name-dt-very-dark-blue-topbg: #1f212e;
  --clr-name-dt-dark-desaturated-blue-cardbg: #252a41;
  --clr-name-dt-desaturated-blue-text: #8b97c6;
  --clr-name-dt-white-text: white;
  --clr-name-lt-white-bg: white;
  --clr-name-lt-very-pale-blue-topbg: #f5f7ff;
  --clr-name-lt-light-grayish-blue-cardbg: #f0f2fa;
  --clr-name-lt-dark-grayish-blue-text: #63687e;
  --clr-name-lt-very-dark-blue-text: #1e202a;
  --fs-default: 14px;
  --fs-medium: 28px;
  --fs-large: 36px;
  --fs-xlarge: 58px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-default);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (max-width: 640px) {
  body {
    padding: 0;
  }
}

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 850px;
}
@media screen and (max-width: 640px) {
  .wrapper {
    width: 100%;
    height: auto;
  }
  .wrapper .attribution {
    margin-top: 20px;
    padding-bottom: 25px;
  }
}
.wrapper.light {
  background: var(--clr-name-lt-white-bg);
}
.wrapper.light .top-header {
  background-color: var(--clr-name-lt-very-pale-blue-topbg);
}
.wrapper.light .cards {
  height: auto;
  position: relative;
}
.wrapper.light .cards__social {
  height: auto;
  width: 100%;
  display: grid;
  justify-content: space-around;
  padding: 0 3rem;
  grid-template-areas: "fb tw insta yt";
}
@media screen and (max-width: 640px) {
  .wrapper.light .cards__social {
    grid-template-areas: "fb" "tw" "insta" "yt";
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px;
  }
}
.wrapper.light .cards__social .card {
  width: 240px;
  height: 220px;
  border-radius: 5px;
  border: 1px solid transparent;
  transform: translateY(-80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  background-color: var(--clr-name-lt-light-grayish-blue-cardbg);
  /*@if $darkMode {
    background-color: var(--clr-name-dt-dark-desaturated-blue-cardbg);
  } @else {
    background-color: var(--clr-name-lt-light-grayish-blue-cardbg);
  }*/
}
@media screen and (max-width: 640px) {
  .wrapper.light .cards__social .card {
    transform: translateY(-20px);
  }
}
.wrapper.light .cards__social .card .top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.wrapper.light .cards__social .card .top span {
  font-size: 12px;
  font-weight: bold;
  color: var(--clr-name-lt-dark-grayish-blue-text);
}
.wrapper.light .cards__social .card .middle {
  text-align: center;
  text-transform: uppercase;
}
.wrapper.light .cards__social .card .middle h2 {
  font-size: var(--fs-xlarge);
  font-weight: bolder;
}
.wrapper.light .cards__social .card .middle p {
  letter-spacing: 5px;
  font-size: 13px;
  color: var(--clr-name-lt-dark-grayish-blue-text);
}
.wrapper.light .cards__social .card .bottom {
  display: flex;
  align-items: center;
  gap: 6px;
}
.wrapper.light .cards__social .card .bottom span {
  font-size: 12px;
  font-weight: bold;
  color: var(--clr-name-lime-green);
}
.wrapper.light .cards__social .card.facebook {
  grid-area: fb;
  border-top-color: var(--clr-name-facebook);
  border-top-width: 4px;
}
.wrapper.light .cards__social .card.twitter {
  grid-area: tw;
  border-top-color: var(--clr-name-twitter);
  border-top-width: 4px;
}
.wrapper.light .cards__social .card.instagram {
  grid-area: insta;
  border-top-width: 4px;
  position: relative;
}
.wrapper.light .cards__social .card.instagram::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #fdc468, #df4996);
  top: -4px;
  border-radius: 5px;
}
.wrapper.light .cards__social .card.youtube {
  grid-area: yt;
  border-top-color: var(--clr-name-youtube);
  border-top-width: 4px;
}
.wrapper.light .cards__social .card.youtube .bottom span {
  color: var(--clr-name-bright-red);
}
.wrapper.light .cards__overview {
  height: auto;
  width: 100%;
  display: grid;
  justify-content: space-between;
  padding: 0 3rem;
  gap: 20px;
  grid-template-areas: "head head head head" "fb1 fb2 insta1 insta2" "tw1 tw2 yt1 yt2";
}
.wrapper.light .cards__overview h3 {
  grid-area: head;
  font-size: 25px;
}
@media screen and (max-width: 640px) {
  .wrapper.light .cards__overview {
    grid-template-areas: "head" "fb1" "fb2" "insta1" "insta2" "tw1" "tw2" "yt1" "yt2";
    justify-content: center;
  }
  .wrapper.light .cards__overview h3 {
    justify-self: start;
    margin-top: 20px;
  }
}
.wrapper.light .cards__overview .card {
  width: 250px;
  height: 140px;
  background-color: var(--clr-name-lt-light-grayish-blue-cardbg);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.2rem;
}
.wrapper.light .cards__overview .card .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.wrapper.light .cards__overview .card .top span {
  font-weight: bold;
  color: var(--clr-name-lt-dark-grayish-blue-text);
}
.wrapper.light .cards__overview .card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.wrapper.light .cards__overview .card .bottom span {
  font-size: 12px;
  font-weight: bold;
  color: var(--clr-name-lime-green);
}
.wrapper.light .cards__overview .card .bottom span.small-heading {
  font-size: var(--fs-large);
  color: black;
}
.wrapper.light .cards__overview .card.facebook-1 {
  grid-area: fb1;
}
.wrapper.light .cards__overview .card.facebook-2 {
  grid-area: fb2;
}
.wrapper.light .cards__overview .card.facebook-2 .bottom span.text {
  color: var(--clr-name-bright-red);
}
.wrapper.light .cards__overview .card.insta-1 {
  grid-area: insta1;
}
.wrapper.light .cards__overview .card.insta-2 {
  grid-area: insta2;
}
.wrapper.light .cards__overview .card.twi-1 {
  grid-area: tw1;
}
.wrapper.light .cards__overview .card.tw-2 {
  grid-area: tw2;
}
.wrapper.light .cards__overview .card.yt-1 {
  grid-area: yt1;
}
.wrapper.light .cards__overview .card.yt-1 span.text {
  color: var(--clr-name-bright-red);
}
.wrapper.light .cards__overview .card.yt-2 {
  grid-area: yt2;
}
.wrapper.light .cards__overview .card.yt-2 span.text {
  color: var(--clr-name-bright-red);
}
.wrapper.light .cards__overview h3 {
  color: var(--clr-name-lt-dark-grayish-blue-text);
  padding-bottom: 20px;
}
.wrapper.light .cards__overview .card {
  background-color: var(--clr-name-lt-light-grayish-blue-cardbg);
}
.wrapper.light .cards__overview .card .bottom span.small-heading {
  color: black;
}
.wrapper.dark {
  background: var(--clr-name-dt-very-dark-blue-topbg);
}
.wrapper.dark .top-header {
  background-color: var(--clr-name-dt-very-dark-blue-topbg);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.wrapper.dark .top-header .left h1 {
  color: var(--clr-name-dt-white-text);
  font-weight: bold;
}
.wrapper.dark .top-header .right span {
  color: var(--clr-name-dt-white-text);
  font-weight: normal;
  font-size: 14px;
}
.wrapper.dark .attribution {
  color: var(--clr-name-dt-white-text);
}
.wrapper.dark .cards {
  height: auto;
  position: relative;
}
.wrapper.dark .cards__social {
  height: auto;
  width: 100%;
  display: grid;
  justify-content: space-around;
  padding: 0 3rem;
  grid-template-areas: "fb tw insta yt";
}
@media screen and (max-width: 640px) {
  .wrapper.dark .cards__social {
    grid-template-areas: "fb" "tw" "insta" "yt";
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px;
  }
}
.wrapper.dark .cards__social .card {
  width: 240px;
  height: 220px;
  border-radius: 5px;
  border: 1px solid transparent;
  transform: translateY(-80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  background-color: var(--clr-name-dt-dark-desaturated-blue-cardbg);
  /*@if $darkMode {
    background-color: var(--clr-name-dt-dark-desaturated-blue-cardbg);
  } @else {
    background-color: var(--clr-name-lt-light-grayish-blue-cardbg);
  }*/
}
@media screen and (max-width: 640px) {
  .wrapper.dark .cards__social .card {
    transform: translateY(-20px);
  }
}
.wrapper.dark .cards__social .card .top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.wrapper.dark .cards__social .card .top span {
  font-size: 12px;
  font-weight: bold;
  color: var(--clr-name-lt-dark-grayish-blue-text);
}
.wrapper.dark .cards__social .card .middle {
  text-align: center;
  text-transform: uppercase;
}
.wrapper.dark .cards__social .card .middle h2 {
  font-size: var(--fs-xlarge);
  font-weight: bolder;
}
.wrapper.dark .cards__social .card .middle p {
  letter-spacing: 5px;
  font-size: 13px;
  color: var(--clr-name-lt-dark-grayish-blue-text);
}
.wrapper.dark .cards__social .card .bottom {
  display: flex;
  align-items: center;
  gap: 6px;
}
.wrapper.dark .cards__social .card .bottom span {
  font-size: 12px;
  font-weight: bold;
  color: var(--clr-name-lime-green);
}
.wrapper.dark .cards__social .card h2 {
  color: var(--clr-name-dt-white-text);
}
.wrapper.dark .cards__social .card.facebook {
  grid-area: fb;
  border-top-color: var(--clr-name-facebook);
  border-top-width: 4px;
}
.wrapper.dark .cards__social .card.twitter {
  grid-area: tw;
  border-top-color: var(--clr-name-twitter);
  border-top-width: 4px;
}
.wrapper.dark .cards__social .card.instagram {
  grid-area: insta;
  border-top-width: 4px;
  position: relative;
}
.wrapper.dark .cards__social .card.instagram::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #fdc468, #df4996);
  top: -4px;
  border-radius: 5px;
}
.wrapper.dark .cards__social .card.youtube {
  grid-area: yt;
  border-top-color: var(--clr-name-youtube);
  border-top-width: 4px;
}
.wrapper.dark .cards__social .card.youtube .bottom span {
  color: var(--clr-name-bright-red);
}
.wrapper.dark .cards__overview {
  height: auto;
  width: 100%;
  display: grid;
  justify-content: space-between;
  padding: 0 3rem;
  gap: 20px;
  grid-template-areas: "head head head head" "fb1 fb2 insta1 insta2" "tw1 tw2 yt1 yt2";
}
.wrapper.dark .cards__overview h3 {
  grid-area: head;
  font-size: 25px;
}
@media screen and (max-width: 640px) {
  .wrapper.dark .cards__overview {
    grid-template-areas: "head" "fb1" "fb2" "insta1" "insta2" "tw1" "tw2" "yt1" "yt2";
    justify-content: center;
  }
  .wrapper.dark .cards__overview h3 {
    justify-self: start;
    margin-top: 20px;
  }
}
.wrapper.dark .cards__overview .card {
  width: 250px;
  height: 140px;
  background-color: var(--clr-name-lt-light-grayish-blue-cardbg);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.2rem;
}
.wrapper.dark .cards__overview .card .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.wrapper.dark .cards__overview .card .top span {
  font-weight: bold;
  color: var(--clr-name-lt-dark-grayish-blue-text);
}
.wrapper.dark .cards__overview .card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.wrapper.dark .cards__overview .card .bottom span {
  font-size: 12px;
  font-weight: bold;
  color: var(--clr-name-lime-green);
}
.wrapper.dark .cards__overview .card .bottom span.small-heading {
  font-size: var(--fs-large);
  color: black;
}
.wrapper.dark .cards__overview .card.facebook-1 {
  grid-area: fb1;
}
.wrapper.dark .cards__overview .card.facebook-2 {
  grid-area: fb2;
}
.wrapper.dark .cards__overview .card.facebook-2 .bottom span.text {
  color: var(--clr-name-bright-red);
}
.wrapper.dark .cards__overview .card.insta-1 {
  grid-area: insta1;
}
.wrapper.dark .cards__overview .card.insta-2 {
  grid-area: insta2;
}
.wrapper.dark .cards__overview .card.twi-1 {
  grid-area: tw1;
}
.wrapper.dark .cards__overview .card.tw-2 {
  grid-area: tw2;
}
.wrapper.dark .cards__overview .card.yt-1 {
  grid-area: yt1;
}
.wrapper.dark .cards__overview .card.yt-1 span.text {
  color: var(--clr-name-bright-red);
}
.wrapper.dark .cards__overview .card.yt-2 {
  grid-area: yt2;
}
.wrapper.dark .cards__overview .card.yt-2 span.text {
  color: var(--clr-name-bright-red);
}
.wrapper.dark .cards__overview h3 {
  color: var(--clr-name-dt-white-text);
}
.wrapper.dark .cards__overview .card {
  background-color: var(--clr-name-dt-dark-desaturated-blue-cardbg);
}
.wrapper.dark .cards__overview .card .bottom span.small-heading {
  color: var(--clr-name-dt-white-text);
}

/* WRAPPER ENDS HERE */
.top-header {
  width: 100%;
  height: 200px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: -100;
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 6rem;
}
@media screen and (max-width: 640px) {
  .top-header {
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.top-header .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}
@media screen and (max-width: 640px) {
  .top-header .left h1 {
    font-size: 18px;
  }
  .top-header .left p {
    font-size: 12px;
  }
}
.top-header .left h1 {
  margin-bottom: 3px;
}
.top-header .left p {
  color: var(--clr-name-lt-dark-grayish-blue-text);
  font-weight: bold;
}
.top-header .right {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
}
@media screen and (max-width: 640px) {
  .top-header .right {
    justify-content: space-between;
    border-top: 3px solid var(--clr-name-lt-dark-grayish-blue-text);
    padding-top: 10px;
  }
}
.top-header .right span {
  font-size: var(--fs-default);
  color: var(--clr-name-lt-dark-grayish-blue-text);
  font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aeb3cb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(#378fe6, #3eda82);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background: var(--clr-name-dt-very-dark-blue-bg);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
